
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --primary: #B88E2F;
  --secondary: teal;
  --black: #333333;
  --acent: #3A3A3A;
  --base: #F9F1E7;
  --base-gray: #F4F5F7;

  --color-primary: #B88E2F;
  --color-base-gray: #F4F5F7;

} */
@theme {

  --color-primary: #B88E2F ;
  --color-base-100: #F4F5F7;
  --color-base-300: #F9F1E7;
  --font-sans: "Poppins", sans-serif;
}
:root {
  --p: 43 46% 45%; 
  --primary: #B88E2F;
}
body{
    font-family: "Poppins", sans-serif;

}
/* @theme{
    --font-display: "Poppins", sans-serif;

} */